<p><%= component.component_type.name %> – <%= component.manufacturer.try(:name) %> <%= component.model %> – <%= component.weight %>g <%= number_to_currency component.cost, unit: "R$", separator: ",", delimiter: ".", format: "%u %n" %> – <%= link_to "editar", [:edit, component] %></p>
